@model HMI.Models.Names

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Names</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SheetID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SheetID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.NameID">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
